<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Example App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="css/bundle.css">
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
  {{{body}}}
  <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
  <script src="js/editor.bundle.js"></script>
  <script src="js/editor.js"></script>
</body>
</html>
