<div id="app"></div>
<div id="content">
  <div id="previews"></div>
  <input type="file" id="uploader" name="name" accept="image/png,image/jpeg" />

  <input type="button" id="save" name="name" value="save" disabled="true">
  <div class="message"></div>

  <!-- <input type="button" id="order" name="name" value="建立訂單" disabled="true"> -->
</div>
